// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// Use the "Theme Builder" on Quasar's documentation website.
// https://quasar.dev/style/theme-builder

$primary   : #07689F;
$secondary : #C9D6DF;
$accent    : #11D3BC;

$dark      : #4E4E4E;

$positive  : #7EBCFA;
$negative  : #FF9933;
$info      : #11D3BC;
$warning   : #F2C037;
